---
import { date } from "astro/zod";
import Page from "../layouts/GabaritPrincipal.astro";
import { formaterDate, obtenirDimanchePrecedent,obtenirSamediSuivant, formaterDateJour  } from "../lib/date.mjs";
import Bd from "../lib/bd.mjs";
import { NIVEAU } from "../lib/enums.mjs";


const dimancheDeLaSemaine = obtenirDimanchePrecedent(new Date());
const samediDeLaSemaine = obtenirSamediSuivant(new Date());
const samedi = formaterDate(samediDeLaSemaine)
const dimanche = formaterDate(dimancheDeLaSemaine);



/*
const listesDanses = [];

for (let i = 0; i < 1; ++i) {
	const {titre, choregraphe, musique, niveau, detailsTag, lienFeuille, lienVideoAcademie, lienVideoDanse, lienVideoMusique, nbComptes, nbMurs, estCoupDeCoeur} = {
		titre: "Everyone needs a hero",
		choregraphe: "Roy Verdonk, Grace David, Jef Camps",
		musique:"Holding Out for a Hero - Adam Lambert",
		niveau: NIVEAU.INTERMEDIAIRE,
		detailsTag: "Après 2e mur, Ajouter 8 comptes (step 1/2 tour X 2, out, out, in, in), après 3e mur et 4e mur ajouter 4 comptes (step 1/2 tour X 2)",
		lienFeuille:"https://www.copperknob.co.uk/stepsheets/167154/everyone-needs-a-hero",
		lienVideoDanse: "338U80kqryY",
		lienVideoMusique: "dB7NsWHCQv4",
		lienVideoAcademie: "https://www.academiedansetavie.com/products/academie-danse-ta-vie/categories/2150082906/posts/2169250245  ",
		nbComptes: 64,
		nbMurs: 2,
		estCoupDeCoeur: true,
	};
	listesDanses.push(
	await Bd.creerDanse(titre + i,
		choregraphe,
		musique,
		niveau,
		detailsTag,
		lienFeuille,
		lienVideoDanse,
		lienVideoMusique,
		lienVideoAcademie,
		nbComptes,
		nbMurs,
		estCoupDeCoeur));
}

const coursTest = await Bd.creerCours(
	NIVEAU.INTERMEDIAIRE,
	new Date('2023-09-30T19:15:00-04:00'),
	"Salle des Lions",
	listesDanses,
);

return
*/

const lstCours = await Bd.obtenirCoursDeLaSemaine(dimancheDeLaSemaine);
---

<Page titre="Accueil">

	<h2 class="text-center"> Danses de la semaine du {dimanche} au {samedi} </h2>
	{
		!lstCours.length &&
		<h3 class="text-center m-5">Aucun cours prévu cette semaine</h3>
	}
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">

		{

			lstCours.map(cours => cours.danses.map(
				danse =>
				<div class="col">
					<div class="card text-center ">
						<div class="card-header">

							<h3>{formaterDateJour(cours.date, true)}</h3>
							<h4>{cours.lieu}</h4>


						</div>
						<a href={ `https://youtube.com/watch?v=${danse.lienVideoMusique}`}  class="stretched-link" >
							<img  class="card-img-top" src={ `https://img.youtube.com/vi/${danse.lienVideoMusique}/0.jpg` } alt="vidéo youtube" />
						</a>
						<div class="card-body">
							<h3>{danse.titre}</h3>
							<h4>Niveau: {danse.niveau} </h4>
							<p>{danse.nbComptes} comptes {danse.nbMurs} Murs</p>
						</div>
					</div>
				</div>
			)
			)
		}
	</div>


</Page>


<style lang="scss">

.card{
	margin: 30px;
}

.card-header{
	font-size: 2rem;
	background-color: #80a2acf6;

}


</style>
