---
import { date } from "astro/zod";
import Page from "../layouts/GabaritPrincipal.astro";
import { formaterDate, obtenirDimanchePrecedent } from "../lib/date.mjs";
import Bd from "../lib/bd.mjs";

const danse = Astro.locals["danse"];
const cours = Astro.locals["cours"];

const dimancheDeLaSemaine = obtenirDimanchePrecedent(new Date());
const dateMoisDimanche = formaterDate(dimancheDeLaSemaine)

/*
const coursTest = await Bd.creerCours(
	"Intermédiaire",
	new Date('2023-09-30T19:15:00-04:00'),
	"Salle des Lions"
);

for (let i = 0; i < 8; ++i) {
	const {titre, choregraphe, musique, niveau, detailsTag, lienFeuille, lienVideoAcademie, lienVideoDanse, lienVideoMusique, nbComptes, nbMurs, estCoupDeCoeur, cours} = {
		titre: "Everyone needs a hero",
		choregraphe: "Roy Verdonk, Grace David, Jef Camps",
		musique:"Holding Out for a Hero - Adam Lambert",
		niveau: "Intermédiaire",
		detailsTag: "Après 2e mur, Ajouter 8 comptes (step 1/2 tour X 2, out, out, in, in), après 3e mur et 4e mur ajouter 4 comptes (step 1/2 tour X 2)",
		lienFeuille:"https://www.copperknob.co.uk/stepsheets/167154/everyone-needs-a-hero",
		lienVideoDanse: "338U80kqryY",
		lienVideoMusique: "dB7NsWHCQv4",
		lienVideoAcademie: "https://www.academiedansetavie.com/products/academie-danse-ta-vie/categories/2150082906/posts/2169250245  ",
		nbComptes: 64,
		nbMurs: 2,
		estCoupDeCoeur: true,
		cours: [coursTest],
	};
	await Bd.creerDanse(titre + i,
		choregraphe,
		musique,
		niveau,
		detailsTag,
		lienFeuille,
		lienVideoDanse,
		lienVideoMusique,
		lienVideoAcademie,
		nbComptes,
		nbMurs,
		estCoupDeCoeur,
		coursTest._id);
}
*/

const lstDanses = await Bd.obtenirDansesDepuisDimanche(dimancheDeLaSemaine);
---

<Page titre="Accueil">

	<h1> Danses de la semaine du {dateMoisDimanche} </h1>


	<div class="row row-cols-1 row-cols-lg-3 g-4">
		{
			!lstDanses &&
			<p>Aucune danse prévue cette semaine</p>
		}
		{
			lstDanses.map(danse =>
				<div class="col">
					<div class="card">
						<div class="card-header row row-cols-1 g-5">
							<span>{formaterDate(danse.cours[0].date, true)}</span>
							<span>{danse.cours[0].lieu}</span>
						</div>
						<a href={ `https://youtube.com/watch?v=${danse.lienVideoMusique}` }>
							<img src={ `https://img.youtube.com/vi/${danse.lienVideoMusique}/0.jpg` } alt="vidéo youtube" />
						</a>
						<div class="card-body">
							<h5 class="card-title">{danse.titre}</h5>
							<p class="card-text">Niveau: {danse.niveau} </p>
							<p class="card-text">{danse.nbComptes} comptes {danse.nbMurs} Murs</p>
						</div>
					</div>
				</div>
			)
		}
	</div>
</Page>

<style lang="scss">
.card{
	margin: 30px;
}

.card-header{
	font-size: 2rem;
	background-color: #80a2acf6;

}


</style>
