---
import Page from "../../layouts/GabaritPrincipal.astro";
import Bd from "../../lib/bd.mjs";
import { NIVEAU, NIVEAU_STR } from "../../lib/enums.mjs";
import { obtenirNoteMoyenne } from "../../lib/models/danse.mjs";
import CinqCoeurs from "../../components/cinqcoeurs.astro";


	// Obtention du permalien depuis l'URL:
	const { danse } = Astro.params;


	const usager  = Astro.locals["usager"];


	// Affichage de la note donnée par l'utilisateur pour la danse affichée.
	let note = 0;
	let appreciation = await Bd.obtenirAppreciation(danse, usager);
	if (appreciation){
		note = appreciation.note;
	}

	// Obtention des détails selon le permalien
	const detailsDanse = await Bd.obtenirDetailsDanse(danse);
	let moyenne = 0;

	if(!detailsDanse){
		Astro.response.status = 404;
	} else {
		moyenne = (await detailsDanse.obtenirNoteMoyenne())?.[0]?.moyenne ?? 0;
	}
---

{ detailsDanse ?
<Page titre={detailsDanse.titre} espacementVertical={0}>

 <div class =" bg-light" data-bs-theme="dark">
	<div class="bg-body-tertiary bg-opacity-75 entete"  data-id-danse={detailsDanse._id}>
		<div class="container-xl ">
			<div class="row row-cols-1  row-cols-lg-3 text-center py-4 align-items-center">
				<div>
					<h2  class=" my-3">{detailsDanse.titre}</h2>
					<p class="my-3 fs-4">Chorégraphe(s): {detailsDanse.choregraphe} </p>


				</div>
				<div class="col-xl-6">
					<p class="my-3 fs-4">Niveau: {NIVEAU_STR[detailsDanse.niveau]} </p>
					<p class="fs-4">{detailsDanse.nbComptes} comptes</p>
					<p class="fs-4"> {detailsDanse.nbMurs} murs </p>

				</div>



				<div >

					{ usager &&

						<p class="fs-5">Notez cette danse.</p>

					<form class="d-flex justify-content-center">
						<CinqCoeurs name="note" note={note}></CinqCoeurs>
					</form>

					<div class="d-flex justify-content-center align-items-center" >

							{/*
						<button type="button" class="btn btn-secondary mx-2" data-bs-toggle="button">Ajout à la liste de souhait
						<img class="mini" src="../../public/images/icones/ajoutListe.png" alt="ajout à la liste de souhait" /></button>
						*/}

					<p class="bgImage fs-4 pt-2" id="coeurMoyenne" >{moyenne}</p>
					</div>

					}
					{ !usager &&

						<p class="fs-5">Connectez-vous pour noter cette danse.</p>
						<p class="bgImage fs-4 pt-2" id="coeurMoyenne">{moyenne}</p>

					}


				</div>



			</div>
		</div>


	</div>
	<div class="d-flex justify-content-center align-items-center">
		<div>
		<iframe class ="large" src={ `https://www.youtube.com/embed/${detailsDanse.lienVideoDanse}`}
		title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		<p class="fs-5 text-center">Vidéo de la danse</p>
		</div>
	</div>
	<div class="text-center" >
		<a class="fs-2" href={`${detailsDanse.lienFeuille}`}>Voir la feuille de pas</a>
		<p class="fs-5 "><strong>Aide-mémoire: </strong> {detailsDanse.detailsTag}</p>
	</div>

		<div class=" row row-cols-1 row-cols-lg-2 p-sm-5 gx-lg-5">

		<div class="col">
			<div class="card text-center mb-sm-4">
				<div class="card-header">
					<p class="fs-5 text-center">Musique: {detailsDanse.musique} </p>
				</div>

				{
					!detailsDanse.lienVideoMusique &&
					<img  class="card-img-top" src="../../public/images/videoNonDispo.png" alt="aucun lien vidéo" />
				}
				{
					detailsDanse.lienVideoMusique &&
					<div  >
						<iframe  class ="card-img-top" src={ `https://www.youtube.com/embed/${detailsDanse.lienVideoMusique}`}
						title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					</div>
				}


			</div>
		</div>

		<div class="col">
			<div class="card text-center mb-sm-4">
				<div class="card-header ">

			<p class="fs-5 text-center ">Académie Danse ta vie </p>
				</div>

				{
					!detailsDanse.lienVideoAcademie &&
					<img  class="card-img-top " src="../../public/images/nonDispoAcademie.png" alt="aucun lien vers l'académie" />
				}
				{
					detailsDanse.lienVideoAcademie &&
				<a href={detailsDanse.lienVideoAcademie}  class="stretched-link" >
					<img class="card-img-top " src="../../public/images/nonDispoAcademie.png" alt="vidéo Académie" />
				</a>
				}

			</div>
		</div>


	</div>
</div>
</Page>
:
<Page titre="Danse introuvable">
	introuvable!
</Page>
}


<script>
	import Api from "../../lib/clientside/api.mjs";
	const idDanse = document.querySelector<HTMLDivElement>("[data-id-danse]").dataset.idDanse;

	const form = document.querySelector("form");
	const req = Api.PUT(`danses/${idDanse}/appreciation`);

	const coeurMoyenne = document.getElementById("coeurMoyenne");

	form.addEventListener("change", async () => {
		const inputNote = form.querySelector(`input[name="note"]:checked`);
		const {nouvMoyenne} = await req.params({ note: +inputNote.value }).envoyer();
		coeurMoyenne.innerText =  nouvMoyenne;
	});



</script>

<style lang="scss">

@use "../../styles/bootstrap.min.css";


	.petit{
		width: 75Q;
	}


	.card-img-top
	{
		&:is(img) {
			object-fit:contain;
		}

		height: 300Q;
	}

	.large
	{
		@extend .rounded-5, .border, .border-5, .mt-4, .mx-3;
		width: 750Q;
		height: 400Q;
	}

	body{
		--bs-border-color: #80a2ac; ;
	}

	.entete{

	color: #ffffff;
}

.mini{
	width: 60Q;
	aspect-ratio: 1/1;

	&:is(i) {
		display: inline-block;
		background: url("/images/icones/coeurVide.png") center / contain no-repeat;

		&:hover ~ * {
			background-image: url("/images/icones/coeurPlein.png");
		}

	}
}

.bgImage{
	color:black;
	display: inline-block;
	background: url("/images/icones/coeurPlein.png")  center / contain no-repeat ;
	width: 60Q;
	aspect-ratio: 1/1;
}

</style>
