---
import Page from "../../layouts/GabaritPrincipal.astro";
import Bd from "../../lib/bd.mjs";
import { NIVEAU, NIVEAU_STR } from "../../lib/enums.mjs";
import { obtenirNoteMoyenne  } from "../../lib/models/danse.mjs";

// Obtention du permalien depuis l'URL:
const { id_danse } = Astro.params;

// Obtention des détails selon le permalien
//const danse = await Bd.obtenirDetailsDanse(id_danse);

const danse ={
		titre: "Everyone needs a hero",
		choregraphe: "Roy Verdonk, Grace David, Jef Camps",
		musique:"Holding Out for a Hero - Adam Lambert",
		niveau: NIVEAU_STR[NIVEAU.INTERMEDIAIRE],
		detailsTag: "Après 2e mur, Ajouter 8 comptes (step 1/2 tour X 2, out, out, in, in), après 3e mur et 4e mur ajouter 4 comptes (step 1/2 tour X 2)",
		lienFeuille:"https://www.copperknob.co.uk/stepsheets/167154/everyone-needs-a-hero",
		lienVideoDanse: "338U80kqryY",
		lienVideoMusique: "lGKtKA97mhw",
		lienVideoAcademie: "https://www.academiedansetavie.com/products/academie-danse-ta-vie/categories/2150082912/posts/2169250224",
		nbComptes: 64,
		nbMurs: 2,
		estCoupDeCoeur: true,

		obtenirNoteMoyenne(){
			return { moyenne:4.5 }
		}
}


// Conversion en JSON:
const detailsJson = JSON.stringify(danse);
---

<Page titre={danse.titre}>


	<div class="bg-body-tertiary bg-opacity-75 entete" data-bs-theme="dark">
		<div class="container-xl ">
			<div class="row row-cols-1 row-cols-xl-3 text-center py-4 align-items-center">
				<div>
					<h2  class=" my-3">{danse.titre}</h2>
					<p class="my-3 fs-4">Chorégraphe(S): {danse.choregraphe} </p>


				</div>
				<div class="col-xl-6">
					<p class="my-3 fs-4">Niveau: {danse.niveau} </p>
					<p class="fs-4">{danse.nbComptes} comptes</p>
					<p class="fs-4"> {danse.nbMurs} murs </p>

				</div>
				<div class="gap-2 justify-content-center">
					<p class="fs-5">Notez cette danse</p>
					<div>
						<i class="mini"></i>
						<i class="mini"></i>
						<i class="mini"></i>
						<i class="mini"></i>
						<i class="mini"></i>
					</div>
					<div class="d-flex justify-content-around align-items-center " >

						<button type="button" class="btn btn-secondary" data-bs-toggle="button">Ajout à la liste de souhait <img class="mini" src="../../public/images/icones/ajoutListe.png" alt="ajout à la liste de souhait" /></button>


						<p class="bgImage fs-4 pt-2">{danse.obtenirNoteMoyenne().moyenne}</p>


					</div>

				</div>
			</div>
		</div>


	</div>
	<div class="d-flex justify-content-center align-items-center">
		<div>
		<iframe class ="large" src={ `https://www.youtube.com/embed/${danse.lienVideoDanse}`}
		title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		<p class="fs-5 text-center">Vidéo de la danse</p>
		</div>
	</div>
	<div class="text-center" >
		<a class="fs-2" href={`${danse.lienFeuille}`}>Voir la feuille de pas</a>
		<p class="fs-5 "><strong>Aide-mémoire: </strong> {danse.detailsTag}</p>
	</div>

		<div class="m-2 row row-cols-1 row-cols-lg-2 g-4 g-lg-5">



		<div class="col">
			<div class="card text-center ">
				<div class="card-header">
					<p class="fs-5 text-center">Musique: {danse.musique} </p>
				</div>

				{
					!danse.lienVideoMusique &&
					<img  class="card-img-top medium"  src="../../public/images/background_header.png" alt="aucun lien vidéo" />
				}
				{
					danse.lienVideoMusique &&
					<div  >
						<iframe  class ="card-img-top medium" src={ `https://www.youtube.com/embed/${danse.lienVideoMusique}`}
						title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					</div>
				}


			</div>
		</div>

		<div class="col">
			<div class="card text-center ">
				<div class="card-header">

			<p class="fs-5 text-center">Académie danse ta vie </p>
				</div>

				{
					!danse.lienVideoAcademie &&
					<img  class="card-img-top medium" src="../../public/images/nonDispoAcademie.png" alt="aucun lien vers l'académie" />
				}
				{
					danse.lienVideoAcademie &&
				<a href={danse.lienVideoAcademie}  class="stretched-link" >
					<img class="card-img-top medium" src="../../public/images/nonDispoAcademie.png" alt="vidéo Académie" />
				</a>
				}

			</div>
		</div>


	</div>

</Page>

<style lang="scss">

@use "../../styles/bootstrap.min.css";


	.petit{
		width: 75Q;
	}


	.medium
	{
		width: 550Q;
		height: 300Q;
	}

	.large
	{
		width: 750Q;
		height: 400Q;
	}

	.medium, .large{
	@extend .rounded-5, .border, .border-5, .mt-4, .mx-3;
	}

	body{
		--bs-border-color: #80a2ac; ;
	}

	.entete{

	color: #ffffff;
}

.mini{
	width: 60Q;
	aspect-ratio: 1/1;

	&:is(i) {
		display: inline-block;
		background: url("/images/icones/coeurVide.png") center / contain no-repeat;

		&:hover ~ * {
			background-image: url("/images/icones/coeurPlein.png");
		}

	}
}

.bgImage{
	color:black;
	display: inline-block;
	background: url("/images/icones/coeurPlein.png")  center / contain no-repeat ;
	width: 60Q;
	aspect-ratio: 1/1;
}

</style>
