---
// Importation du style global:
import "../styles/style.scss";

// Définition des paramètres pouvant être passés au gabarit:
interface Props {
	// Le titre est toujours obligatoire:
	titre: string;

	// La description est optionnelle:
	description?: string;
}

// Le titre est obligatoire donc c'est une constante; la description est optionnelle donc c'est une variable:
const { titre } = Astro.props;
let { description } = Astro.props;

// Si la description n'est pas définie, on lui donne une valeur par défaut:
description ??= import.meta.env.DESCRIPTION_PAR_DEFAUT;

// URL canonique pour le référencement:
const URLcanonique = new URL(Astro.url.pathname, Astro.site);

const usager = Astro.locals["usager"];
---

<!doctype html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<meta name="description" content={description} />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" href="/minilogo3.png" />
	<link rel="canonical" href={URLcanonique} />
	<title>{titre} &mdash; {import.meta.env.NOM_SITE}</title>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
</head>

<body>
	<a href="#contenuPrincipal" class="visually-hidden-focusable">Aller au contenu principal</a>
	<header class="d-flex justify-content-center text-center ">
		<div>

			<nav class="navbar navbar-expand-lg bg-body-tertiary bg-opacity-75  sticky-topnavbar bgTranslucide" data-bs-theme="dark" aria-labelledby="MenuPrincipal">


				<div class="container-fluid row">
				<div class="col-lg-3">

						<a href="index.html"><img class="w-50" src="images/logoblanctransparent.png"
						alt="logo heartbeat country" /></a>
						<span class="visually-hidden-focusable">L’école de danse Heartbeat Country</span>
						<div>
							<button class="navbar-toggler m-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
							</button>
						</div>

				</div>

				<div class="collapse navbar-collapse " id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0 ">

						<li class="nav-item">
							<a href="index.html">Accueil</a>
						</li>
						<li class="nav-item">
							<a href="services.html">Cours et Services</a>
						</li>
						<li class="nav-item dropdown">
							<a href="danses.html">Danses</a>
						</li>
						<li class="nav-item">
							<a href="evenements.html">Événements</a>
						</li>
						<li class="nav-item">
						<a href="a_propos.html">À propos</a>
							</li>
							{
								usager && (
								<li>
									<span>Bienvenue, {usager?.prenom}</span>
									<a href="deconnexion.html">
										Déconnexion
									</a>
								</li>
								)
							}
							{
								!usager && (
								<li>
									<a href="connexion.html">
										Connexion
									</a>
								</li>
								)
							}

					</ul>
				</div>
				</div>
			</nav>

				{
				usager && (
					<h2 class="text-center">Bienvenue, {usager?.prenom}</h2>
				)
				}

			<h1 class="text-center">{titre}</h1>
		</div>
	</header>

	<slot />

	<footer class="bg-body-tertiary bg-opacity-75 row text-center" data-bs-theme="dark">
		<div class="col-lg-3">
			<p>
				Site web crée par Pascal Breton et Cynthia Fortier automne 2023
			</p>

		</div>
		<div class="col-lg-6">
			<a href="index.html"><img class="w-50" src="images/logoblanctransparent.png"
				alt="logo heartbeat country" /></a>
			<p>
				<script type="text/javascript">
					let part1 = "heartbeatcountry";
					let part2 = Math.pow(2, 6);
					let part3 = String.fromCharCode(part2);
					let part4 = "outlook.com";
					let part5 = part1 + String.fromCharCode(part2) + part4;
					document.write(
						"<a href=" +
							"mai" +
							"lto" +
							":" +
							part5 +
							">" +
							part1 +
							part3 +
							part4 +
							"</a>",
					);
				</script>
			</p>
			<p>Tous droits réservés.</p>

		</div>

		<div class="col-lg-3">

			<a href="https://www.facebook.com/profile.php?id=100063673747492" target="_blank"><img class="w-25"
					src="images/icones/iconeFacebook2.png" alt="Logo Facebook" /></a>
			<a href="https://www.instagram.com/heartbeatcountry/" target="_blank"><img class="w-25"
					src="images/icones/iconeInstagram2.png" alt="Logo Instagram" /></a>

			<a href="https://www.linkedin.com/in/cynthia-fortier-414a4a259/" target="_blank"><img class="w-25"
					src="images/icones/iconeLinkedin.png" alt="Logo Linkedin" /></a>
			<a href="https://www.tiktok.com/@heartbeatcountry" target="_blank"><img class="w-25" src="images/icones/icone_tiktok.png"
					alt="Logo Tiktok" /></a>
		</div>

	</footer>
</body>

</html>

