---
// Importation du style global:
import "../styles/style.scss";

// Définition des paramètres pouvant être passés au gabarit:
interface Props {
	// Le titre est toujours obligatoire:
	titre: string;
	h1:string;

	// La description est optionnelle:
	description?: string;
}

// Le titre est obligatoire donc c'est une constante; la description est optionnelle donc c'est une variable:
const { titre } = Astro.props;
let { description, h1 } = Astro.props;

// Si la description n'est pas définie, on lui donne une valeur par défaut:
description ??= import.meta.env.DESCRIPTION_PAR_DEFAUT;
h1 ??= titre;


// URL canonique pour le référencement:
const URLcanonique = new URL(Astro.url.pathname, Astro.site);

const usager = Astro.locals["usager"];
---

<!doctype html>
<html lang="fr">

<head>
	<meta charset="UTF-8" />
	<meta name="description" content={description} />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" href="/minilogo3.png" />
	<link rel="canonical" href={URLcanonique} />
	<title>{titre} &mdash; {import.meta.env.NOM_SITE}</title>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous" defer></script>
</head>

<body>
	<a href="#contenuPrincipal" class="visually-hidden-focusable">
		Aller au contenu principal
	</a>
	<header>
		<nav class="navbar navbar-expand-xxl bg-body-tertiary bg-opacity-75  sticky-topnavbar"
			data-bs-theme="dark" aria-labelledby="MenuPrincipal">
			<div class="container-xxl">
				<a class="navbar-brand" href="/">
					<img class="logo"  src="/images/logoblanctransparent.png"
						alt="logo heartbeat country" />
					<span class="visually-hidden">L’école de danse Heartbeat Country</span>
				</a>

				<button class="navbar-toggler m-4" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>


				<div class="collapse navbar-collapse " id="navbarSupportedContent">
					<ul class="navbar-nav mb-2 mb-lg-0 ">

						<li class="nav-item">
							<a href="/">Accueil</a>
						</li>
						<li class="nav-item">
							<a href="/services">Cours et Services</a>
						</li>
						<li class="nav-item dropdown">
							<a href="/danses">Danses</a>
						</li>
						<li class="nav-item">
							<a href="/evenements">Événements</a>
						</li>
						<li class="nav-item">
							<a href="/a-propos">À propos</a>
						</li>
						{
							usager &&
							<li>
								<a href="/compte/deconnexion">
									Déconnexion
								</a>
							</li>
						}
						{
							!usager &&
							<li>
								<a href="/compte/connexion">
									Connexion
								</a>
							</li>
						}

					</ul>
				</div>
			</div>
		</nav>

		<div class="container-xxl">
			<div class="hero hstack mt-5 pt-5 justify-content-center">
				<div class="mx-auto px-3 py-0">
					<h1 class="fw-bold">{h1}</h1>
				</div>
			</div>
		</div>

	</header>
	<main>
		<div class="container-xxl py-4">
			<slot />
		</div>
	</main>

	<footer class="bg-body-tertiary bg-opacity-75" data-bs-theme="dark">
		<div class="container-xxl"><div class="row row-cols-1 row-cols-xxl-3 text-center p-4 align-items-center">
			<div class="">
				<p class="p-0">
					Site web crée par Pascal Breton et Cynthia Fortier automne 2023
				</p>

			</div>
			<div class="col-xxl-6">
				<img  class="logo" src="/images/logoblanctransparent.png"
						alt="logo heartbeat country" />
				<p>
					<a href="mailto:" class="courriel-footer">&nbsp;</a>
				</p>
				<p>Tous droits réservés.</p>

			</div>

			<div class="">

				<a href="https://www.facebook.com/profile.php?id=100063673747492" rel="noopener"><img class="mini"
						src="/images/icones/iconeFacebook2.png" alt="Logo Facebook" /></a>
				<a href="https://www.instagram.com/heartbeatcountry/" rel="noopener"><img  class="mini"
						src="/images/icones/iconeInstagram2.png" alt="Logo Instagram" /></a>

				<a href="https://www.linkedin.com/in/cynthia-fortier-414a4a259/" rel="noopener"><img  class="mini"
						src="/images/icones/iconeLinkedin.png" alt="Logo Linkedin" /></a>
				<a href="https://www.tiktok.com/@heartbeatcountry" rel="noopener"><img  class="mini"
						src="/images/icones/icone_tiktok.png" alt="Logo Tiktok" /></a>
			</div>
		</div></div>
	</footer>
</body>

</html>

<script>
	const courrielFooter = document.getElementsByClassName("courriel-footer")[0];
	const courriel = atob("aGVhcnRiZWF0Y291bnRyeUBvdXRsb29rLmNvbQ==");
	courrielFooter.innerText = courriel;
	courrielFooter.href += courriel;
</script>


<style lang="scss">
@use "../styles/bootstrap.min.css";

/* stylelint-disable scss/at-extend-no-missing-placeholder */

/*************************
        Général
**************************/

h1{
	@extend .mt-3;
}

header{

	background: linear-gradient(to bottom, #ffffff85, #ffffff85), url("../../images/background_header.png") center  top / cover no-repeat;
}

nav, footer{

	@extend .fs-4;
}

li a{
	@extend .nav-link, .mx-1, .px-3, .rounded-2;

}

li a:hover, li a:focus{
	background-color: #80a2acf6;

}

nav li{
	@extend .nav-item;
}

footer img{
	@extend .p-2;
}

footer{


	p{
		@extend .px-5;
		color: #ffffff;
	}
}

.mini{
	width: 100px;
}

.logo
{
	width: 250px;
}

.hero {
	padding-bottom: 6em;

	div {
		@extend .rounded-4;
		text-shadow: #fff 0 0 3px;
		text-transform: uppercase;
	}
}

</style>
